body {
    border-style: solid;
    height: 900px;
    width: 632px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(212, 243, 255);
    background-repeat: no-repeat;
    border-radius: 10px;
}

header {
    width: 555px;
    margin-left: auto;
    margin-right: auto;

    border-style: solid;
    text-align: center;
    padding: 8px;
    background-color: aquamarine;
    border-radius: 10px;
}

#positieDiv {
    height: 470px;
    width: 430px;

    justify-content: center;

    background-color: rgb(255, 255, 160);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

nav {
    margin-left: auto;
    margin-right: auto;

    padding-top: 10px;
    padding-bottom: 12px;

    display: flex;
    flex-direction: row;

    border-bottom: solid;
    border-width: 3px;

    justify-content: center;
}

.navID {
    width: 100px;
    
    margin-left: 20px;
    margin-right: 20px;

    text-align: center;
}

main {
    max-width: 650px;
    height: 550px;
    margin-top: 25px;
    
    margin-left: auto;
    margin-right: auto;
}

#h4ID {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.mainPID {
    text-align: center;
    font-size: 13px;
    margin-top: 17px;
    
    padding-left: 40px;
    padding-right: 40px;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    border-style: solid;
    background-color: aquamarine;
    border-radius: 10px;
}