#geheel {
    position: relative;
    width: 850px;
    height: 1200px;
    margin: auto;

    background-color: rgb(212, 243, 255);

    border-style: solid;
    border-radius: 10px;
}

header {
    width: 590px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    
    background-color: aquamarine;
    
    text-align: center;
    
    border-style: solid;
}

nav {
    display: flex;
    justify-content: space-evenly;

    width: 350px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    padding-top: 6px;

    background-color: rgb(255, 255, 160);
    
    text-align: center;
    
    border-style: solid;
}

main {
    display: flex;
    flex-direction: row;

    margin-top: 12px;
}

article {
    width: 350px;
    height: 910px;
    margin-left: auto;
    padding-top: 3px;

    background-color: rgb(255, 255, 160);

    border-style: solid;

    text-align: center;
}

article > p {
    width: 290px;
    margin: auto;
}

section {
    height: 910px;
    width: 145px;

    margin-left: 10px;
    margin-right: auto;
    padding-top: 3px;

    background-color: rgb(255, 255, 160);

    border-style: solid;

    text-align: center;
}

section > span {
    font-size: 16px;
    font-weight: normal;
}

#year {
    display: flex;
    flex-direction: row;
    height: 40px;

    justify-content: center;

    border-top: solid;
    border-width: 1px;
}

#year > p {
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 11px;
}

button {
    height: 25px;
    margin-top: 7px;
}

#month {
    padding-bottom: 10px;

    border-bottom: solid;
    border-width: 1px;
}

#month > select {
    width: 98px;
    margin-top: -2px;
}

footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;

    width: 475px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;

    background-color: aquamarine;

    text-align: center;

    border-style: solid;
}